*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contact{
    min-height: 100vh;
    /* background-color: #e8f0fe; */
    padding: 50px;
    text-align: center;
    
    z-index: 10;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #ffffff;
    
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:30px;
    position:relative;
    z-index: 10;   
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    
}
.form-Group{
    margin-bottom: 20px;
}
input,textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    /* color:white; */
    color: black;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color:#fff;
    cursor: pointer;
    transition: .3s ease;
}
button:hover{
    background-color: #45a049;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
   
}
.contact-info p{
    margin-bottom: 10px;
    color: #ffffff;

}
.contact-info i{
    color: #4caf50;
    margin-right: 10px;
}
@media screen and (max-width:768px){
    .container{
        padding: 20px; 
    }
    .contact-wrapper{
        grid-template-columns: 1fr; 
    }

    
}